SHOPIFY_ENABLED=true
SHOPIFY_STORE_DOMAIN=realize2-0.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_ADMIN_CLIENT_ID=
SHOPIFY_ADMIN_CLIENT_SECRET=
SHOPIFY_API_VERSION=2025-01
SHOPIFY_FRAME_ANCESTORS=
